#fontsOnly{
    font-family: "Titillium Web", sans-serif;
    font-family: "Sue Ellen Francisco", cursive;
    font-family: "Playfair Display", serif;
    font-family: "Protest Riot", sans-serif;
    font-family: "Knewave", system-ui;
    font-family: "Alegreya", serif;
    font-family: "Protest Strike", sans-serif;
    font-family: "Kode Mono", monospace;
    font-family: "Protest Revolution", sans-serif;
}