.container1{
    width: 100%;
    position: relative;
    height: 95vh;
    background-color: white;
    overflow: hidden;
}
.text-newsfeed h2 {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left: 5%;
    /* letter-spacing: 3px; */
    font-family: "Playfair Display", serif;
    margin-top: 8%;
    padding-left: 30px;
}
.mini-cont1{
    width: 90%;
    position: relative;
    left: 5%;
    height: 40vh;
    margin-top: 3%;
    display: flex;
    justify-content:space-between;

}
.cont1-img1{
    background-image: linear-gradient(rgba(55, 11, 92, 0.6),rgba(34, 3, 54, 0.1))  ,url(/src/images/16.jpg);
    background-position: center center;
    background-size: cover;
}
.cont1-img2{
    background-image: linear-gradient(rgba(55, 11, 92, 0.6),rgba(34, 3, 54, 0.1)) ,url(/src/images/13.jpg);
    background-position: center center;
    background-size: cover;
}
.cont1-img3{
    background-image: linear-gradient(rgba(55, 11, 92, 0.6),rgba(34, 3, 54, 0.1)) ,url(/src/images/15.jpg);
    background-position: center center;
    background-size: cover;
}
.cont1-img4{
    background-image: linear-gradient(rgba(55, 11, 92, 0.5),rgba(0, 0, 0, 0.6)) ,url(/src/images/12.jpg);
    background-position: center center;
    background-size: cover;
}
.cont1-img1:hover{
    transition: 1s;
    background-image: linear-gradient(rgba(55, 11, 92, 0.3),rgba(34, 3, 54, 0.3)) ,url(/src/images/16.jpg);
}
.cont1-img2:hover{
    transition: 1s;
    background-image: linear-gradient(rgba(55, 11, 92, 0.3),rgba(34, 3, 54, 0.3)) ,url(/src/images/13.jpg);
}
.cont1-img3:hover{
    transition: 1s;
    background-image: linear-gradient(rgba(55, 11, 92, 0.3),rgba(34, 3, 54, 0.3)) ,url(/src/images/15.jpg);
}
.cont1-img4:hover{
    transition: 1s;
    background-image: linear-gradient(rgba(55, 11, 92, 0.3),rgba(34, 3, 54, 0.3)) ,url(/src/images/12.jpg);
}
.line{
    margin: 2%;
}
.box-cont1{
    width: 23%;
    height: 48vh;
  
}
.box-cont1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-overlay{
    left: 9%;
}
.text-overlay1{
    left: 35%;
}
.text-overlay2{
    left: 60%;
}
.text-overlay3{
    left: 88%;
    width: 20%;
}
.text-overlay,.text-overlay1,.text-overlay2,.text-overlay3{
    position: absolute;
    top: 90%; /* Adjust based on your layout */
    /* left: 11%; Adjust based on your layout */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Text color */
    /* font-size: 18px; Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    /* Add any additional styles as needed */
}
.btn-mini-cont1{
    width: 25%;
    font-family: "Alegreya", serif;
    height: 4vh;
    /* background-color: rgb(247, 9, 255); */
    border: transparent;
    cursor: pointer; 
    color: white; 
    background:linear-gradient( to bottom right,rgba(63,81,181,1) 0%, rgba(171,71,188 ,1) 70%);
	box-shadow: 1px 1px 30px rgba(81,45,168 ,1); 
}
.text-mini-cont1{
    font-size: 15px;
    font-family: "Alegreya", serif;
    /* font-family: "Protest Riot", sans-serif; */
    /* font-weight: 200; */
    margin-top: 3%;
}
.dateofnews{
    margin-top: 5%;
    font-family: "Titillium Web", sans-serif;
    color: silver;
}
@media only screen and (max-width:720px){
    .container1{
        margin-top: 30%;
        height: 250vh;
    }
    .mini-cont1{
        height: 230vh;
        align-items: center;
        flex-direction: column;
    }
    .box-cont1{
        margin-top: 10%;
        width: 90%;
        height: 51vh;
    }
    .text-newsfeed h2 {
        font-size: 1.6rem;

    }
    .text-overlay{
        top: 22%;
    }
    .text-overlay1{
        top: 47%;
    }
    .text-overlay2{
        top: 73%;
    }
    .text-overlay3{
        top: 98%;
    }
    .text-overlay,.text-overlay1,.text-overlay2,.text-overlay3{
        width: 100%;
        height: 30vh;
        /* top: 20%; */
        left: 62%;
    }
    .text-overlay button,.text-overlay1 button,.text-overlay2 button,.text-overlay3 button{
        font-size: 1.1rem;
        width: 30%;
        height: 4vh;
    }
    .text-overlay p:nth-child(2),.text-overlay1 p:nth-child(2),.text-overlay2 p:nth-child(2),.text-overlay3 p:nth-child(2){
        font-size: 1.2rem;   
    }
    .text-overlay p:nth-child(3),.text-overlay1 p:nth-child(3),.text-overlay2 p:nth-child(3),.text-overlay3 p:nth-child(3){
        font-size: 1.4rem; 
        letter-spacing: 4px;  
    }
}